name: MATRIX pipe
on: push
jobs:
  maxtrix_job:
   continue-on-error: true
   strategy:
     matrix:
       node-version: [12,14,16]
       operating-system: [ubuntu-latest, windows-latest]
       include:
         - node-version: 18
           operating-system: ubuntu-latest
       exclude:
         - node-version: 12
           operating-system: windows-latest
   runs-on: ${{ matrix.operating-system}}
   steps:
     - name: checkout code
       uses: actions/checkout@v4
     - name: install node version
       uses: actions/setup-node@v4
       with:
        node-version: ${{matrix.node-version}}
     - name: Install dependecy
       run: npm ci
     - name: Build application
       run: npm run build


