name: CI/CD reusable
on: 
 workflow_call:
    secrets:
       client_id:
         required: true
       client_secrets:
         required: true
       
    inputs:
       artifact_name:
        description: artifact-name
        required: false
        type: string
        default: dist



jobs:
 reusable-job:
    runs-on: [ubuntu-latest]
    steps:
       - name: checkout artifact
         uses: actions/download-artifact@v4
         with:
            name: ${{ inputs.artifact_name }}

       - name: Output Information
         run: |
          echo "output information"
          echo ${{secrets.client_id}}
          echo ${{secrets.client_secrets}}

